.items{
    width: 100%;
    min-height: 350px;
    /* background: blue; */
    float: left;
    margin: 10px 0;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 20px;
}

.items_img{
    width: 100%;
    height: 280px;
    background: green;
    border-radius: 20px;
    float: left;
}